item-matrix-box
  div.absolute.trbl0
    img.block.s-full.object-fit-cover(src='{opts.item.image}')
    div.absolute.trbl0.bg-black_filter
  div.relative.s-full.f.fh.z1.text-white.p4
    div.word-break-all.line-clamp-1.bold {opts.item.title}